{% extends "base.html" %}
{% load static %}

{% block titulo %}
Logout
{% endblock %}

{% block content %}

    <header class="min-h-screen bg-black bg-opacity-50 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-cover"  style="background-image: url('{% static 'images/aviao.jpg'%}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h2 class="text-3xl " >Você saiu da sua conta!</h2>
            <div class="flex flex-nowrap justify-center space-x-5 p-5">
            <a href="{% url 'sistema:login' %}"><button class="bg-blue-900 py-1 px-3 text-white md:text-lg rounded-md">Fazer Login</button></a>
            <a href="{% url 'sistema:criarconta' %}"><button class="bg-blue-900 py-1 px-3 text-white md:text-lg rounded-md">Criar uma Conta</button></a>
            </div>
        </div>
    </header>

    <footer class=" px-1 py-2 ">
        <ul class="flex justify-between items-center">

            <li>&copy; 2022</li>
            <li> Feito com Python (Django)</li>
            <li>Michael Cruz</li>
        </ul>
    </footer>

{% endblock %}