{% extends "base.html" %}
{% load static %}

{% block titulo %}
Manutenções Cadastradas
{% endblock %}

{% block content %}

    <main class='bg-white min-h-screen w-full'>
        <section class="min-h-screen mw-100  bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center " style="background-image: url('{% static 'images/papel.jpg'%}'); background-repeat: no-repeat; background-size: 100% 15%; background-attachment: fixed; ">
            <div>
                <h2 class="text-6xl font-semibold text-center my-4 ">
                    Manutenções Cadastradas
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                </p>
                <div class="flex my-4">
        </section>

    </main>

{% endblock %}